#!/bin/bash
sudo -u {{eap_service_user}} {{eap_install_path}}/bin/standalone.sh -b {{ip}} -Dorg.kie.server.id={{kie_server_id}} 
-Dorg.kie.server.location={{kie_server_location}} -Djboss.socker.binding.port-offset={{ port_offset * 100 }}