# {{ansible_managed}}

#All nodes
{% for host in groups['all'] -%}
  {{ hostvars[host]['ip'] }} {{ hostvars[host]['alias'] }} {{ hostvars[host]['hostname'] }}
{% endfor -%}

127.0.0.1   {{ hostname}} localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
